body {
    
    background-image: url('https://imgs.search.brave.com/WN1-_KmiBJrTT9VomHy8cFSKP4Edo8ftXPQG0xpkLJE/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9kZWZp/bmljaW9uLmRlL3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDA4LzA3/L3NlZ3VyaWRhZC0x/LmpwZw');
    background-size: cover;
    background-position: center;
}